body {
    font-family: Arial, sans-serif;
    background-image: url('https://c.animaapp.com/u9jFIJuy/img/background-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 350px;
  }
  
  .login-form img {
    width: 150px;
    display: block;
    margin: 0 auto 20px;
  }
  
  .login-form h2 {
    text-align: center;
    color: #7901E6;
    font-family: 'Kadwa', serif;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    width: 212px;
    height: 27px;
    margin: 0 auto 20px;
    flex-shrink: 0;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os inputs e o botão */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Certifica-se de que os inputs ocupem toda a largura do form */
  }
  
  button {
    background-color: #A14EEC;
    color: #fff;
    border: none;
    width: 254px;
    height: 45px;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px;
    align-self: center; /* Alinha o botão ao centro */
    flex-shrink: 0;
  }
  
  button:hover {
    background-color: #9339E4;
  }
  